.welcomeText{

    text-align: center;
    color: #00b4ff;
    font-family : font-family: '-apple-system','HelveticaNeue'; font-size:17;
}

.btn{

    padding: 30px 50px;
} 

.container{

    font-family:Helvetica Neue;
}
