<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>



<div class = "container"> 

<div class = "jumbotron">
  


<h1 class = "welcomeText">

    Welcome to QuizEms!
  </h1>

  <hr>
  <br>

  <div class = "aboutText">

 
  <p>
      The Easy Solution to Practice Quizzes and Tests! <br><br> 
       QuizEms is your go to practice quiz maker that eliminates many of the pain points that professors around the world experience with their current options. QuizEms strives to provide an easy and user-friendly experience for all of our users. The process is simple and outlined below: <br> <br>
       
       1. You (the professor) can start by clicking the Create Quiz button below. <br> <br>
       2. Fill out all the details for your quiz (your name, quiz name and quiz duration). <br> <br>
       3. Add and edit as many questions as you would like.<br> <br>
       4. Enter the correct answer.<br> <br>
       5. Save your progress as you go. <br><br>
       6. Click the Create Quiz Link button after you have saved your quiz to retrieve a direct shareable link.<br> <br>
        <br>
        We hope you enjoy the process and make many quizzes for your students!

  </p>
  </div>
<hr>


<hr>
<br>

  <br>

  <div class = "col text-center"> 


<button type="button" class="btn btn-primary " (click) = "navigateToQuiz()">Create Quiz</button> 

</div>
</div>

</div>