.welcomeText{

    text-align: center;
    color: #17a2b8;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}

.btn{

    padding: 30px 50px;
} 

.container{

    font-family:Helvetica Neue;
}

.aboutText{

    color: #034f6f;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", 
    Helvetica, Arial, "Lucida Grande", sans-serif;
}
