

<div class = "forms-group">  
    <hr>
  <div class = "deleteButton" >
      <button type="button" class="btn btn-danger btn-md" (click)="removeQuestion()">Delete</button>

  </div>
<div class = "questionFont">

  
<form>
  <br>
  

  Question: <input type="text" name="question" [(ngModel)] = "questionModel.question">
  a): <input type="text" name="a1" [(ngModel)] = "questionModel.answerOne">
  b): <input type="text" name="a2" [(ngModel)] = "questionModel.answerTwo">
  c): <input type="text" name="a3"[(ngModel)] = "questionModel.answerThree">
  d): <input type="text" name="a4"[(ngModel)] = "questionModel.answerFour">

  Answer: <input type="text" name="correctAnswer"[(ngModel)] = "questionModel.correctAnswer"><br>

</form>
</div>

<br>
<br>

</div>