.divider{
    width:5px;
    height:auto;
    display:inline-block;
}

.heading{

    margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
}

.headingButtons{

  margin: auto;
  width: 80vw;
  padding: 10px;

  
}