<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">


    <!-- The Modal -->
    <div class="modal" id="myModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h1 class="modal-title">Congratulations on creating your quiz!</h1>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <br>
            <br>
            Here is your shareable link: 
            <br>
            <br>
            https://quizemsnew.firebaseapp.com/#/quiz
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>

        </div>
      </div>
    </div>

  </div>

</body>

</html>

<div class = "container">



<div class="jumbotron">

  <!-- 
  <div class="heading">
    <h2>After you have created your quiz, click save and then click the Create Link button to create a shareable link
      to your quiz!</h2>
  </div>

-->

  <br>
  <br>
  <br>


  <div class="row justify-content-center">

    <div class="col-xs-3">

      <div class="form-group">



        <input type="text" class="form-control " id="exampleInputPassword1" placeholder="Professor Name"  [(ngModel)]= "professorName">
        <br>
        <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Quiz Name" [(ngModel)]= "className">
        <br>
        <input type="number" class="form-control " id="exampleInputPassword1" placeholder="Enter Quiz Time in Seconds"
        [(ngModel)]= "time">

          <app-timer> </app-timer>


      </div>
    </div>
  </div>




  <div class="headingButtons">
 <br>
   
    <br>
    <div class="validationButton" *ngIf="this.data.validationFlag">


      <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">
        <circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
        <path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
      </svg>

    </div>

    <br>
    <br>
    <br>
    <br>
   
    <br>
<div>
    <button type="button" class="btn btn-info btn-md" (click)="populateQuiz() && quizName()">Save
      progress</button>


    &nbsp;
    <!--  <button (click)="loadQuiz()">Load</button>-->
    <button type="button" class="btn btn-info btn-md" data-toggle="modal" data-target="#myModal" (click)="createLink()">Create
      Quiz Link</button>

  </div>
  <br>
  <br>


  <div *ngFor="let q of data.questionslist">
    <app-questions [questionModel]="q"></app-questions>
  </div>

  <div class="newQ">

    <button type="button" class="btn btn-success btn-lg" (click)="newQuestion() && scrollPage()">Add a new question</button>

  </div>


</div>

</div>